#main-header{
    img{
        width: 100%;
        height: 100%;
    }
    font-family:Georgia, 'Times New Roman', Times, serif;
     
    .fa{
        font-size: 1.5em;
    }
    .fa:hover{
        opacity: 0.8;
        cursor: pointer;
    }
    .item{
        width: 25%;
    }
    .item:hover{
        opacity: 0.8;
        cursor: pointer;
    }

}

@media(min-width:1199px){
    .item{
        padding: 2.5em !important;
    }
    .fa{
        font-size: 2.5em !important;
    }
}
